{% extends "layout.html" %}
{% block content %}

<table id="user-data" class="table table-striped">
    <legend>Your information:</legend>
    <thead>
        <tr>
            <th>Username</th>
            <th>E-mail</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.ro_user.name}}</td>
        </tr>
    </tbody>
</table>
<br>
<table id="user-reservation-data" class="table table-striped">
    <legend>Your reservations and borrowings:</legend>
    <thead>
        <tr>
            <th>Reservation ID</th>
            <th>Book Title</th>
        </tr>
    </thead>
    <tbody>
        {% for reservation in reservations %}
        <tr>
            <td>{{ reservation.id }}</td>
            <td>{{ reservation.book_id }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}