{% extends "layout.html" %}
{% block content %}

<table id="data" class="table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>E-mail</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role_id.name }}</td>
            <td>
                <!--<a href="{{ url_for('user_self_update', id=user.id)}}"> <button type="button"
                        class="btn btn-secondary">Update</button> </a>-->
            </td>
        </tr>
    </tbody>
</table>

{% endblock content %}