{% extends "layout.html" %}
{% block content %}
<table id="data" class="table table-striped">
  <thead>
      <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Author</th>
          <th>Publisher</th>
          <th>Tag</th>
          <th>Library</th>
          <th></th>
      </tr>
  </thead>
  <tbody>
      {% for book in books %}
      <tr>
          <td>{{ book.id }}</td>
          <td>{{ book.name }}</td>
          <td>{{ book.autor }}</td>
          <td>{{ book.publisher }}</td>
          <td>{{ book.tag }}</td>
          <td>{{ book.library }}</td>
          <td>
            <a href="{{ url_for('book_reserve', id=book.id)}}"> <button type="button" class="btn btn-sm btn-outline-danger">Reserve</button> </a>
        </td>
      </tr>
      {% endfor %}
  </tbody>
</table>

<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

<script>
  $(document).ready(function () {
      $('#data').DataTable({
          columns: [
              null,
              null,
              null,
              null,
              null,
              null,
              { searchable: false, orderable: false }],
      });
  });

  var closebtns = document.getElementsByClassName("close");
  var i;

  /* Loop through the elements, and hide the parent, when clicked on */
  for (i = 0; i < closebtns.length; i++) {
      closebtns[i].addEventListener("click", function () {
          this.parentElement.style.display = 'none';
      });
  }
</script>
{% endblock %}