{% extends "layout.html" %}
{% block content %}

<table id="data" class="table table-striped">
  <thead>
      <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Author</th>
          <th>Publisher</th>
          <th>Tag</th>
          <th>Library</th>
          <th></th>
      </tr>
  </thead>
  <tbody>
      {% for book in books %}
      <tr>
          <td><img id="kniha" src="{{book.img}}" alt=""></td>
          <td>{{ book.id }}</td>
          <td>{{ book.name }}</td>
          <td>{{ book.autor }}</td>
          <td>{{ book.publisher }}</td>
          <td>{{ book.tag }}</td>
          <td>{{ book.library }}</td>
          
          <td>
            <a href="{{ url_for('book_reserve', id=book.id)}}"> <button type="button" class="btn btn-sm btn-outline-danger">Reserve</button> </a>
        </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
<!--
<div class="knihy_table">
{% for Book in books %}
<div class="kniha">
  <div class="kniha_item">
    <img id="kniha" src="{{Book.img}}" alt="">
  </div>
  <p>{{Book.name}}</p>
  <p>Autor: {{Book.autor}}</p>
  <p>Tag: {{Book.tag}}</p>
  <a href="{{ url_for('book_reserve', id=Book.id)}}"> <button type="button" class="btn btn-sm btn-outline-danger">Reserve</button> </a>
</div>
{% endfor %}
</div>
--> 

{% scripts block %}
<script>
  $(document).ready(function () {
      $('#data').DataTable({
          columns: [
              null,
              null,
              null,
              null,
              null,
              null,
              null,
              { searchable: false, orderable: false }],
      });
  });

  var closebtns = document.getElementsByClassName("close");
  var i;

  /* Loop through the elements, and hide the parent, when clicked on */
  for (i = 0; i < closebtns.length; i++) {
      closebtns[i].addEventListener("click", function () {
          this.parentElement.style.display = 'none';
      });
  }
</script>
{% endblock %}
