<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/style2.css">
    <link rel="icon" href="/static/img/icon.ico">
    <title>Knihovna</title>
</head>
<body>
    <!--navbar-->
    <nav class="navbar">
        <div class="nav_content">
            <div class="logo"><a href="index"><img src="/static/img/icon_3.png" alt="icon"></a></div>
            <ul class="nav_list">
                <div class="left_links">
                    <li><a href="index">Domů</a></li>
                    <li><a href="knihovny">Knihovny</a></li>
                    <li><a href="knihy">Knihy</a></li>
                    <li><a href="#">W</a></li>
                    <li><a href="#">B</a></li>
                    <li><a href="#">S</a></li>
                    <li><a href="#">E</a></li>
                </div>
                <div class="right_links">
                    <input type="text" placeholder="Search..">
                    {% if current_user.is_authenticated %}
                        <li id="login1"><a href="#">Účet</a></li>
                        <li id="login2"><a href="{{ url_for('logout') }}">Odhlášení</a></li>
                    {% else %}
                        <li id="login1"><a href="login">Příhlášení</a></li>
                        <li id="login2"><a href="register">Registrace</a></li>
                    {% endif %}
                </div>
            </ul>
        </div>
    </nav>
    <!--end of navbar-->
    {% block content %}{% endblock %}
 
</body>
</html>
