<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/style2.css">
    <link rel="icon" href="/static/img/icon.ico">
    <title>Knihovna</title>
</head>
<body>
    <!--navbar-->
    <nav class="navbar">
        <div class="nav_content">
            <div class="logo"><a href="index"><img src="/static/img/icon_3.png" alt="icon"></a></div>
            <ul class="nav_list">
                <div class="left_links">
                    <li><a href="index">Domů</a></li>
                    <li><a href="knihovny">Knihovny</a></li>
                    <li><a href="knihy">Knihy</a></li>
                    <li><a href="#">W</a></li>
                    <li><a href="#">B</a></li>
                    <li><a href="#">S</a></li>
                    <li><a href="#">E</a></li>
                </div>
                <div class="right_links">
                    <input type="text" placeholder="Search..">
                    <li id="login1"><a href="login">Login</a></li>
                    <li id="login2"><a href="register">Register</a></li>
                </div>
            </ul>
        </div>
    </nav>
    <!--end of navbar-->
    <div class="login">
       <h1>Login</h1>
       <label for="email">Email</label>
       <input type="text" placeholder="Email" name="email" id="email">
       <label for="heslo">Heslo</label>
       <input type="text" placeholder="Heslo" name="heslo" id="heslo">
    </div>

<script>
         // When the user scrolls the page, execute myFunction
         window.onscroll = function() {myFunction()};

// Get the navbar
var navbar = document.getElementsByClassName("navbar")[0];

// Get the offset position of the navbar
var sticky = navbar.offsetTop;
console.log(sticky);
// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
    if (window.pageYOffset > sticky) {
        navbar.classList.add("sticky")
    } else {
        navbar.classList.remove("sticky");
    }
}



















</script>
<!--end of JS for slideshow-->


</body>
</html>