<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/style2.css">
    <link rel="icon" href="/static/img/icon.ico">
    <title>Manage Users</title>
</head>

<nav class="navbar2">
  <div class="nav_content">
      <div class="logo"><a href="index"><img src="/static/img/icon_3.png" alt="icon"></a></div>
      <ul class="nav_list">
          <div class="left_links">
              <li><a href="index">Home</a></li>
              <li><a href="manageusers">Manage Users</a></li>
              <li><a href="addusers">Add Users</a></li>
              <li><a href="index">Manage User Roles</a></li>
              <li><a href="index">Manage Libraries</a></li>
              <li><a href="index">Manage Books</a></li>
              
          </div>
          <div class="right_links">
              <input type="text" placeholder="Search..">
              {% if current_user.is_authenticated %}
                  <li id="login1"><a href="#">Účet</a></li>
                  <li id="login2"><a href="{{ url_for('logout') }}">Odhlášení</a></li>
              {% else %}
                  <li id="login1"><a href="login">Příhlášení</a></li>
                  <li id="login2"><a href="register">Registrace</a></li>
              {% endif %}
          </div>
      </ul>
  </div>
</nav>


<div class="table-responsive rounded my-table">
  <table id="user_table" class="table table-striped" data-filter-data="" data-filter-control="true">
    <thead class="thead-dark">
      <tr>
        <th scope="col" data-field="pk" data-filter-control="input">User ID</th>
        <th scope="col" data-field="fields.first_name">Name</th>
        <th scope="col" data-field="fields.email">E-mail</th>
        <th scope="col" data-field="fields.role" data-filter-control="input">Role</th>
      </tr>
    </thead>
    <tbody>
      {% for o in users %}
          <tr>
            <th scope="row">          
                {{ o.id }}
            </th>
            <td>             
                {{ o.username }}
            </td>
            <td>             
                {{ o.email }}
            </td>
            <td>
                {{ o.role_id }}
                <form method="POST" action="">
                  {{ f2.hidden_tag() }}
                  <fieldset class="form-group">
                      <legend class="border-bottom mb-4">Set user role</legend>
                      <div class="form-group">
                        {{ f2.role.label(class="mr-sm-2") }}
                        {{ f2.role(class="custom-select mr-sm-2")}}
                      </div>
                  </fieldset>
                    <div class="col-auto my-1">
                      {{ f2.submit(class="btn btn-outline-info", text="Set") }}
                    </div>
                  </div>
                </form>
            </td>

          </tr>
     {% endfor %}
     </tbody>
 </table>

 <form method="POST" action="">
  {{ f1.hidden_tag() }}
  <fieldset class="form-group">
      <legend class="border-bottom mb-4">Delete User by ID</legend>
      <div class="form-group">
          {{ f1.id.label(class="form-control-label") }}
          {{ f1.id(class="form-control form-control-lg") }}
      </div>
  </fieldset>
  <div class="form-group">
      {{ f1.submit(class="btn btn-outline-info", text="Delete") }}
  </div>
</form>

</div>
</html>
