<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/style2.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
    <link rel="icon" href="/static/img/icon.ico">
    <title>Manage Votes</title>
</head>

<body>
    <nav class="navbar2">
        <div class="nav_content">
            <div class="logo"><a href="index"><img src="/static/img/icon_3.png" alt="icon"></a></div>
            <ul class="nav_list">
                <div class="left_links">
                    <li><a href="index">Home</a></li>
                    {% if current_user.is_authenticated %}
                    {% if current_user.ro_user.name == "admin"%}
                    <li><a href="manageusers">Manage Users</a></li>
                    <li><a href="addusers">Add Users</a></li>
                    <li><a href="managelibraries">Manage Libraries</a></li>
                    <li><a href="managebooks">Manage Books</a></li>
                    <li><a href="orderbooks">Order Books</a></li>
                    <li><a href="supplybooks">Supply Books</a></li>
                    <li><a href="librarian">Reservations</a></li>
                    {% endif %}
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    {% if current_user.ro_user.name == "librarian"%}
                    <li><a href="managelibraries">Manage Libraries</a></li>
                    <li><a href="managebooks">Manage Books</a></li>
                    <li><a href="orderbooks">Order Books</a></li>
                    <li><a href="librarian">Reservations</a></li>
                    {% endif %}
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    {% if current_user.ro_user.name == "distributor"%}
                    <li><a href="managebooks">Manage Books</a></li>
                    <li><a href="supplybooks">Supply Books</a></li>
                    {% endif %}
                    {% endif %}


                </div>
                <div class="right_links">
                    {% if current_user.is_authenticated %}
                    <li id="login1"><a href="account">Account</a></li>
                    <li id="login2"><a href="{{ url_for('logout') }}">Log out</a></li>
                    {% else %}
                    <li id="login1"><a href="login">Log in</a></li>
                    <li id="login2"><a href="register">Sign up</a></li>
                    {% endif %}
                </div>
            </ul>
        </div>
    </nav>

    <div class="our_button">
        {% for message in get_flashed_messages() %}
        <div class="our_alert">
            <li>{{ message }}<span class="close">x</span></li>
        </div>
        {% endfor %}
    </div>

    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add vote</legend>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}

                    {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.autor.label(class="form-control-label") }}
                    {% if form.autor.errors %}
                    {{ form.autor(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.autor.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.autor(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.publisher.label(class="form-control-label") }}
                    {% if form.publisher.errors %}
                    {{ form.publisher(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.publisher.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.publisher(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.tag.label(class="form-control-label") }}
                    {% if form.tag.errors %}
                    {{ form.tag(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.tag.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.tag(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.library.label(class="form-control-label") }}
                    {% if form.library.errors %}
                    {{ form.library(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.library.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.library(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

    <table id="data" class="table table-striped">
        <thead>
            <tr>
                <th>Vote ID</th>
                <th>Name</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Tag</th>
                <th>Library</th>
                <th>Number_of</th>
                <th>Button</th>
            </tr>
        </thead>
        <tbody>
            {% for Vote in votes %}
            <tr>
                <td>{{ Vote.id }}</td>
                <td>{{ Vote.name }}</td>
                <td>{{ Vote.autor }}</td>
                <td>{{ Vote.publisher }}</td>
                <td>{{ Vote.tag }}</td>
                <td>{{ Vote.all_votes.city+', '+Vote.all_votes.street }}</td>
                <td>{{ Vote.num_votes }}</td>
                <td>
                    <a href="{{ url_for('vote_delete', id=Vote.id)}}"> <button type="button"
                            class="btn btn-sm btn-outline-danger">Delete</button> </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

    <script>
        $(document).ready(function () {
            $('#data').DataTable({
                columns: [
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    { searchable: false, orderable: false }],
            });
        });

        var closebtns = document.getElementsByClassName("close");
        var i;

        /* Loop through the elements, and hide the parent, when clicked on */
        for (i = 0; i < closebtns.length; i++) {
            closebtns[i].addEventListener("click", function () {
                this.parentElement.style.display = 'none';
            });
        }
    </script>
</body>

</html>