{% import "bootstrap/wtf.html" as wtf %}

<div class="table-responsive rounded my-table">
  <table id="user_table" class="table table-striped" data-filter-data="" data-filter-control="true">
    <thead class="thead-dark">
      <tr>
        <th scope="col" data-field="pk" data-filter-control="input">#</th>
        <th scope="col" data-field="fields.first_name">Name</th>
        <th scope="col" data-field="fields.email">E-mail</th>
        <th scope="col" data-field="fields.role" data-filter-control="input">Role</th>
      </tr>
    </thead>
    <tbody>
      {% for o in users %}
          <tr>
            <th scope="row">          
                {{ o.id }}
              </a> 
            </th>
            <td>             
                {{ o.username }}
              </a>  
            </td>
            <td>             
                {{ o.email }}
              </a>  
            </td>
            <td>
                {{ o.role_id }}
              </a>  
            </td>

          </tr>
        

     {% endfor %}
     </tbody>
 </table>
 {{ wtf.quick_form(form) }}
</div>
