{% extends "layout.html" %}
{% block content %}

<table id="data" class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Tag</th>
            <th>Library</th>
            <th>Votes</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for vote in votes %}
        <tr>
            <td>{{ vote.id }}</td>
            <td>{{ vote.name }}</td>
            <td>{{ vote.autor }}</td>
            <td>{{ vote.publisher }}</td>
            <td>{{ vote.tag }}</td>
            <td>{{ vote.library }}</td>
            <td>{{ vote.num_votes }}</td>
            <td>
                {% if vote.id in vote_array %}
                <a href="{{ url_for('unvote', vote_id=vote.id)}}"> <button type="button"
                    class="btn btn-secondary">Unvote</button> </a>
                {% else %}
                <a href="{{ url_for('vote', vote_id=vote.id)}}"> <button type="button"
                    class="btn btn-secondary">Vote</button> </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

<script>
    $(document).ready(function () {
        $('#data').DataTable({
            columns: [
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                { searchable: false, orderable: false }],
        });
    });

    var closebtns = document.getElementsByClassName("close");
    var i;

    /* Loop through the elements, and hide the parent, when clicked on */
    for (i = 0; i < closebtns.length; i++) {
        closebtns[i].addEventListener("click", function () {
            this.parentElement.style.display = 'none';
        });
    }
</script>
