* {
    background: grey;
}

.navbar {
    position: relative;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: darkgray;
    margin-top: -1vw;
}

.login {
  background: grey;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.login input[type=text] {
   
}
