/*
* {
    background: grey;
}
*/
.navbar2 {
    position: relative;
    background: grey;
    padding-bottom: 1vw;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: darkgray;
    margin-top: -1vw;
}

.login {
  background: grey;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.login input[type=text] {
   
}

.click:link, .click:visited {
  background-color: #7E0B09;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.click:hover, .click:active {
  background-color: #7E0B09;
}
